@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --grid-size: 96px;
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .card {
    /* From https://css.glass */
    /* background: var(--sage-a1); */
    border-radius: 12px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(2.7px); */
    /* -webkit-backdrop-filter: blur(5.7px); */
    /* border: 1px solid rgba(255, 255, 255, 0.43); */
  }
}

html {
  --color-page-background: var(--sage-12);
}

html.dark {
  --color-page-background: var(--sage-1);
}

body {
  color: rgb(var(--foreground-rgb));
  overflow: hidden;
}

.backdrop {
  --background-color: var(--gray-a5);
  mask: url(#clipping);
  background: linear-gradient(
    70deg,
    var(--background-color) 0%,
    var(--grass-a4) 25%,
    var(--background-color) 50%,
    var(--grass-a4) 75%,
    var(--background-color) 100%
  );
  z-index: 0;
  animation: Scroll 12s linear infinite;
  background-size: 300% 200%;
}

@keyframes Scroll {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 33%;
  }
}

.mouse-effect {
  translate: -50% -50%;
}

.effect,
.mouse-effect {
  background: radial-gradient(circle, var(--sage-11) 0%, var(--grass-11) 100%);
  mix-blend-mode: color-dodge;
}

.glass {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(1px);
  border-radius: 0.66rem;
  box-shadow: 2px 4px 20px #0000000a;
  transition: background-color 0.15s ease-in-out;
  z-index: 10;
}

.track {
  --x-Pos: 50%;
}

.track-img {
  object-position: var(--x-Pos) center;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.rt-TooltipContent > span:first-of-type {
  display: none;
}

.dark .rt-TooltipContent {
  background-color: var(--sage-1);
}

.dark .rt-TooltipText {
  color: var(--sage-11);
}
