@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --grid-size: 96px;
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

  /* .dark .rt-TooltipText {
    color: white;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .card-bg {
    @apply bg-[--white-a9] dark:bg-[--black-a9];
  }

  .focus-card .card-bg {
    @apply bg-transparent;
  }

  .menu-bg {
    @apply bg-[--gray-1] backdrop-brightness-125 transition-colors duration-500 group-hover:bg-[--gray-a2] sm:bg-[--gray-a6];
  }

  .dark .menu-bg {
    @apply backdrop-brightness-50 sm:bg-[--gray-a3];
  }

  .card {
    @apply shadow-[--black-a2] dark:shadow-[--accent-a2];
    border-radius: var(--radius-5);
  }

  .webgl .card:not(.focus-card) {
    @apply hover:shadow-xl;
  }

  #projDesc {
    position: absolute;
  }

  .focus #projDesc {
    position: relative !important;
  }

  /* #projects #track > * {
    height: 100%;
  } */

  #projects [data-radix-scroll-area-viewport] {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
  }

  #projects [data-radix-scroll-area-viewport] > div {
    width: 100%;
  }

  .focus #particle-canvas {
    filter: contrast(0.3);
  }
}

@layer utilities {
  .safe-pb {
    margin-bottom: env(safe-area-inset-bottom);
  }
}

#particle-canvas::before {
  position: absolute;
  opacity: 0.75;
  content: "";
  width: 100%;
  height: 100%;
  filter: url("/static/noise.svg#noiseFilter");
  mix-blend-mode: overlay;
}

.dark #particle-canvas {
  mix-blend-mode: color-dodge;
}

#theme {
  z-index: 0;
  --default-font-family: var(--font-space);
  --accent-gradient: var(--gray-6);
  --gray-gradient: var(--accent-3);
}

#theme::before {
  content: "";
  position: absolute;
  width: 140vmax;
  height: 140vmax;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%) rotate(20deg);
  transform-origin: center;
  background: linear-gradient(
    90deg,
    var(--gray-gradient) 0%,
    var(--accent-gradient) 15%,
    var(--accent-gradient) 35%,
    var(--gray-gradient) 50%,
    var(--accent-gradient) 65%,
    var(--accent-gradient) 85%,
    var(--gray-gradient) 100%
  );
  /* filter: url("/static/noise.svg#noiseFilter"); */
  animation: Scroll 100s linear infinite;
  background-size: 200% 200%;
  background-position: 50% 50%;
}

.dark #theme {
  --accent-gradient: var(--gray-3);
  --gray-gradient: var(--iris-3);
}

#theme.focus {
  --accent-gradient: var(--gray-2);
  --gray-gradient: var(--accent-3);
}

.dark #theme.focus {
  --accent-gradient: var(--gray-2);
  --gray-gradient: var(--iris-2);
}

body {
  color: rgb(var(--foreground-rgb));
  overflow: hidden;
}

.backdrop {
  --background-color: var(--gray-a5);
  mask: url(#clipping);
}

@keyframes Scroll {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.mouse-effect {
  translate: -50% -50%;
}

.webgl .glass {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(1px);
  box-shadow: 2px 4px 20px #0000000a;
  transition: background-color 0.15s ease-in-out;
}

.track {
  --x-Pos: 50%;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) calc(var(--mask-height) * 100%),
    rgba(0, 0, 0) calc((var(--mask-height) + 0.15) * 100%),
    rgba(0, 0, 0) 100%
  );
}

.track-img {
  object-position: var(--x-Pos) center;
}

.no-shadow .card {
  --tw-shadow-color: transparent;
  --tw-shadow: var(--tw-shadow-colored);
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.rt-TooltipContent {
  border-radius: var(--radius-5);
  --card-background-color: var(--color-panel);
  backdrop-filter: var(--backdrop-filter-panel);
  background-color: var(--card-background-color) !important;
}

.rt-TooltipContent > span:first-of-type {
  display: none;
}

.rt-TooltipText {
  color: hsl(var(--gray-12)) !important;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}
