

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
  :root {

    --grid-size: 96px;
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }



  /* .dark .rt-TooltipText {
    color: white;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .card-bg {
    @apply backdrop-brightness-110 backdrop-blur;
    --card-background-color: var(--gray-a2);
    background-color: var(--card-background-color);
  }

  .dark .card-bg {
    @apply backdrop-brightness-50;
    background-color: var(--black-a5);
    --card-background-color: var(--gray-a2);
  }

  .menu-bg {
    @apply sm:bg-[--gray-a6] bg-[--gray-1] group-hover:bg-[--gray-a2] backdrop-brightness-125 transition-colors duration-500;
  }

  .dark .menu-bg {
    @apply sm:bg-[--gray-a1] backdrop-brightness-50;
  }

  .card {
    border-radius: var(--radius-5);
  }
}

@layer utilities {
  .safe-pb {
    margin-bottom: env(safe-area-inset-bottom);
  }
}

.dark #particle-canvas {
  mix-blend-mode: plus-lighter;
}

.dark #particle-canvas {
  mix-blend-mode: color-dodge;
}

#theme {
  z-index: 0;
  --default-font-family: var(--font-space);
}

#theme::before {
  --accent-gradient: var(--gray-8);
  --gray-gradient: var(--accent-a2);
  content: '';
  position: absolute;
  width: 140vmax;
  height: 140vmax;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%) rotate(20deg);
  transform-origin: center;
  background: linear-gradient(90deg, var(--gray-gradient) 0%, var(--accent-gradient) 15%, var(--accent-gradient) 35%, var(--gray-gradient) 50%, var(--accent-gradient) 65%, var(--accent-gradient) 85%, var(--gray-gradient) 100%);
  animation: Scroll 100s linear infinite;
  background-size: 200% 200%;
  background-position: 50% 50%;
}

.dark #theme::before {
  --accent-gradient: var(--gray-2);
  --gray-gradient: var(--iris-3);
}

body {
  color: rgb(var(--foreground-rgb));
  overflow: hidden;
}

.backdrop {
  --background-color: var(--gray-a5);
  mask: url(#clipping);
}

@keyframes Scroll {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%; 
  }
}

.mouse-effect {
  translate: -50% -50%;
}

/* .mask {
  maskImage: radial-gradient(circle var()px at var()px var()px, white, transparent);
} */

.glass {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(1px);
  border-radius: 0.66rem;
  box-shadow: 2px 4px 20px #0000000a;
  transition: background-color 0.15s ease-in-out;
  z-index: 10;
}

.track {
  --x-Pos: 50%;
  --mask-height: -0.1;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) calc(var(--mask-height) * 100%), rgba(0, 0, 0) calc((var(--mask-height) + 0.15) * 100%), rgba(0, 0, 0) 100%);
}

.track-img {
  object-position: var(--x-Pos) center;
}

.track-card {
  --card-width: 3.0;
  min-width: 288px;
  width: calc(var(--cell-size) * var(--card-width))
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.rt-TooltipContent {
  border-radius: var(--radius-5);
  --card-background-color: var(--color-panel);
  backdrop-filter: var(--backdrop-filter-panel);
  background-color: var(--card-background-color) !important;
}

.rt-TooltipContent > span:first-of-type {
  display: none;
}

.rt-TooltipText {
  color: hsl(var(--gray-12)) !important;
}

@media (min-width: 1920px){
  .container {
    max-width: 1920px;
  }
}
