@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.leva-c-kWgxhW [type='text'] {
  /* Leva styling TODO: overwrite to fit rest of styling */
  display: flex;
  align-items: center;
  position: relative;
  border-radius: var(--leva-radii-sm);
  overflow: hidden;
  color: inherit;
  height: var(--leva-sizes-rowHeight);
  background-color: var(--leva-colors-elevation3);
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  appearance: none;
  padding: 0 var(--leva-space-sm);
  width: 0px;
  min-width: 0px;
  flex: 1 1 0%;
}

body {
  background-color: var(--vc-colors-bg-base, rgb(0, 0, 0));
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  .title {
    font-family: Source Sans Pro;
    @apply font-normal 2xl:text-8xl md:text-7xl text-6xl leading-tight;
  }

  .subTitle {
    font-family: Source Sans Pro;
    @apply 2xl:text-4xl md:text-2xl text-2xl leading-tight;
  }

  .subTitle.expanded {
    @apply 2xl:text-5xl md:text-4xl text-2xl;
  }

  .mainText {
    font-family: Source Sans Pro;
    white-space: break-spaces;
    @apply md:font-light 2xl:text-2xl md:text-2xl text-xl leading-tight;
  }

  .subText {
    font-family: Source Sans Pro;
    white-space: break-spaces;
    @apply md:font-light 2xl:text-lg md:text-lg text-base leading-tight;
  }

  .border-foreground {
    border-color: rgba(
      var(--vc-colors-text-foreground),
      var(--tw-text-opacity)
    );
  }

  .icon svg {
    fill: var(--vc-colors-text-foreground);
  }

  .revealer,
  .link-revealer {
    @apply relative w-full overflow-x-clip overflow-y-hidden;
  }

  .greeting-revealer {
    @apply relative w-full overflow-x-clip overflow-y-hidden;
  }

  .titleContent {
    @apply h-full w-full absolute overflow-y-visible top-0 left-0;
  }

  .text-w-full {
    word-spacing: 100%;
  }

  .homeTitle {
    @apply flex absolute title;
  }

  .revealerSpan {
    @apply flex relative transform-none;
  }

  .project img {
    filter: blur(2px);
    transition: 0.2s filter linear;
  }

  .centered img,
  .focused img {
    filter: blur(0px);
  }

  .project.right {
    @apply md:ml-auto md:flex-row-reverse;
  }

  .project.left {
    @apply md:mr-auto;
  }

  .project.centered {
    background-color: rgba(var(--vc-colors-bg-base), 0.6);
    opacity: 100% !important;
  }

  input::placeholder,
  textarea::placeholder {
    color: rgba(var(--vc-colors-text-muted), 0.4);
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 3px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(var(--vc-colors-text-foreground));
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--vc-colors-text-foreground));
  }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(var(--vc-colors-text-foreground), 0.9);
  }
}

:root {
  font-family: Source Sans Pro, Work Sans, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
